@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.show {
  animation: slideIn 300ms ease-in-out;
}

.hide {
  animation: slideOut 300ms ease-in-out forwards;
}

.cross-icon {
  width: 24px;
  height: 24px;
  background-image: url('/cross-icon.svg'); /* Path relative to the public folder */
  background-repeat: no-repeat;
}