@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
:root  {
  --background: 239 100% 95%;
  --foreground: 239 5% 0%;
  --card: 239 50% 90%;
  --card-foreground: 239 5% 10%;
  --popover: 239 100% 95%;
  --popover-foreground: 239 100% 0%;
  --primary: 239 100% 66.3%;
  --primary-foreground: 210 20% 98%;
  --secondary: 239 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 201 30% 85%;
  --muted-foreground: 239 5% 35%;
  --accent: 201 30% 80%;
  --accent-foreground: 239 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 239 5% 90%;
  --border: 239 30% 50%;
  --input: 239 30% 18%;
  --ring: 239 100% 66.3%;
  --radius: 0.5rem;
}
.dark  {
  --background: 239 50% 5%;
  --foreground: 239 5% 90%;
  --card: 239 50% 0%;
  --card-foreground: 239 5% 90%;
  --popover: 239 50% 5%;
  --popover-foreground: 239 5% 90%;
  --primary: 239 100% 66.3%;
  --primary-foreground: 210 20% 98%;
  --secondary: 239 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 201 30% 15%;
  --muted-foreground: 239 5% 60%;
  --accent: 201 30% 15%;
  --accent-foreground: 239 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 239 5% 90%;
  --border: 239 30% 18%;
  --input: 239 30% 18%;
  --ring: 239 100% 66.3%;
  --radius: 0.5rem;
}

}

@layer base {
  * {
    @apply border-border;
    scrollbar-gutter: stable !important;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
}

/* Customizes the track of the scrollbar */
::-webkit-scrollbar-track {
    background: transparent; /* Color of the track */
}

/* Customizes the thumb of the scrollbar */
::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background: #444; 
}

/* Changes the thumb color on hover */
::-webkit-scrollbar-thumb:hover {
    background: #333; /* Darker color on hover */
}